@model IEnumerable<LibraryApp.Models.Libro>

@{
    ViewData["Title"] = "Index";
}

<h1>Libros</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Libros" asp-action="Index" method="GET" class="d-flex mb-3" onsubmit="return validarBuscar();">
    <input type="text" name="buscar" id="buscar" class="form-control me-2" placeholder="Buscar por título" style="max-width: 300px;"/>
    <button type="submit" class="btn btn-primary">Buscar</button>
    
</form>

<script>
    function validarBuscar() {
        var buscar = document.getElementById('buscar').value.trim();
        var alerta = document.getElementById('alertaCampoVacio');

        if (buscar === "") {
            alerta.style.display = 'block';
            return false; 
        }

        alerta.style.display = 'none';
        return true;
    }
</script>

<div id="alertaCampoVacio" class="alert alert-danger text-center" style="display:none;">
    Debe introducir un título.
</div>


@if (!Model.Any())
{
    <div class="alert alert-info text-center">
        No hay libros con ese titulo.
    </div>
}
else
{
   
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disponible)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disponible)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>

}
    </tbody>
</table>
}